<section
  id="sobre-mi"
  data-section="sobre-mi"
  class="section undefined scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
>
  <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white undefined">
    <svg
      class="size-8"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"
      ></path><path d="M6 21v-2a4 4 0 0 1 4 -4h4"></path><path d="M15 19l2 2l4 -4"></path></svg
    >
    Sobre mí
  </h2>
  <article
    class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
  >
    <div
      class="text-justify [&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
      <p>
        Hola! Soy David Martínez desarrollador de software.
        <br />
        <strong
          ><em
            >Actuamente soy frontend developer en Socius en donde he aportado soluciones eficientes y
            centradas en el usuario</em
          ></strong
        >.
      </p>
      <p>
        Uno de mis mayores logros ha sido realizar un cambio en mi carrera y entrar en la industria del
        desarrollo de software. En el año 2024 desarrolle una
        <strong><em>página web interactiva utilizando Next.js, TypeScript y Tailwind CSS,</em></strong>
        combinando rendimiento, accesibilidad y una experiencia de usuario óptima.
      </p>
      <p>
        Además de mi interes por la tecnología, <strong><em>disfruto hacer deporte y pasar tiempo con mis amigos</em></strong>, ya que me
        ayuda a mantener un equilibrio entre mi vida profesional y personal.
      </p>
    </div>
    <img
      width="200"
      height="200"
      src="/src/assets/david.png"
      alt="David Martinez"
      class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
      style="object-position: 50% 50%"
    />
  </article>
</section>
