---
import ExperienceItems from "./ExperienceItems.astro";

const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Junior Software Developer",
    company: "SOCIUS • Arquitectura y Plataformas Tecnológicas.",
    description:
      "Como Junior Software Developer, he tenido la oportunidad de liderar el desarrollo de aplicaciones utilizando React, donde he asignado tareas a otros desarrolladores front-end y coordinado esfuerzos para asegurar un flujo de trabajo eficiente.",
    link: "https://www.linkedin.com/in/dmmtapia/",
  },
  {
    date: "Sep.2024 - dic.2024 - 4 meses",
    title: "Trainee Software Developer",
    company: "SOCIUS • Arquitectura y Plataformas Tecnológicas.",
    description:
      "Colabore en la creación de un aplicativo interno de la empresa, donde me destaque tanto por mis habilidades técnicas como comunicativas, esto me permitió ser promovido a un rol de junior software developer.",
    link: "https://www.linkedin.com/in/dmmtapia/",
  },
  {
    date: "ene.2024 - sep.2024 - 9 meses",
    title: "Frontend Engineer",
    company: "Trabajo independiente",
    description:
      "Desarrollé una página web interactiva utilizando Next.js y TypeScript, enfocándome en la optimización del rendimiento y la experiencia del usuario.",
    link: "https://www.linkedin.com/in/dmmtapia/",
  },
  {
    date: "ene.2021 - dic.2024 - 4 años",
    title: "Modelador BIM",
    company: "Inwasser",
    description:
      "Responsable de la elaboración de proyectos 3D sustentables utilizando la metodología BIM (Building Information Modeling). ",
    link: "https://www.linkedin.com/in/dmmtapia/",
  },
  {
    date: "ene.2015 - oct.2021 - 6 años",
    title: "Dibujante Proyectista",
    company: "Emoj Consultora SpA.",
    description:
      "Responsable de la creación y desarrollo de planos en 2D y 3D, con un enfoque integral en proyectos de arquitectura, e Ingeniería. Durante esta labor, he destacado por mis habilidades de comunicación efectivas con mis pares y otros departamentos, lo que ha facilitado la colaboración y el intercambio de ideas.",
    link: "https://www.linkedin.com/in/dmmtapia/",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItems {...experience} />
      </li>
    ))
  }
</ol>
