---
import ExperienceItems from "./ExperienceItems.astro";

const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Junior software developer",
    company: "Socius",
    description:
      "Como Junior Software Developer, he tenido la oportunidad de liderar el desarrollo de aplicaciones utilizando React, donde he asignado tareas a otros desarrolladores front-end y coordinado esfuerzos para asegurar un flujo de trabajo eficiente.",
    link: "https://sociuscorp.com/",
  },
  {
    date: "Septiembre 2024",
    title: "Trainee software developer",
    company: "Socius",
    description:
      "Colabore en la ejecución de un aplicativo interno de la empresa, donde me destaque tanto por mis habilidades técnicas como comunicativas, esto me permitió ser promovido a un rol de junior software developer.",
    link: "https://sociuscorp.com/",
  },
  {
    date: "Septiembre 2024",
    title: "Frontend Engineer",
    company: "Trabajo independiente",
    description:
      "Desarrollé una página web interactiva utilizando Next.js y TypeScript, enfocándome en la optimización del rendimiento y la experiencia del usuario.  utilicé Figma personalmente para diseñar y refinar los prototipos, asegurando interfaces de usuario intuitivas y accesibles que luego transformé en código.",
    link: "https://www.enreglaintegral.cl/",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItems {...experience} />
      </li>
    ))
  }
</ol>
